
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    color: #999999;
    background: #1f1f1f;

}


.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-loader .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}
.page-loader .bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: bounceLoader 500ms alternate infinite ease;
}




/* @Keyframe */
@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceLoader {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

/*Additional CSS*/

.global-color .setting-toggle {
    border-radius: 5px !important;
}

.global-color .setting-toggle i {
    animation: rotating 3s infinite linear !important;
}